html { 
  background: url("bg3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	text-align: center;
	color:#0b1a26;
	font-size:2.25vw;
	line-height:2.3;
	font-family:Snell Roundhand, cursive;
}

.myfont {
	font-family:Apple Chancery, cursive;
	font-size:3.5vw;
	color:#4e820f;
}

.menu{
	

}
.meumenu:hover{
	-webkit-text-stroke: 1px #bdb9cc;
	cursor: pointer;
}

.login, .config1, .instrucoes, .classificacao, .base, .helpb, .mp_menu, .instrucoes2, .instruct, .classxd, .turnoonline{
	display:none;
}


.config1 {
	font-size:1.50vw;
	line-height: 2.0;

}

.button {
	border-radius: 50%;
	color:white;
	background-color: #1f706d;
	padding:20px 40px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: black; /* Green */
}

.helpb, .clearbtn, .instruct{
	text-align:left;
	padding:50px 100px;
}

.comp3{
}

p{font-size:1.5vw;line-height:2.0}

.headings{
	font-size:2.3vw;
	font-weight: bold;
}

.scoretable{
    margin-left:auto; 
    margin-right:auto;
	width:30%;
	line-height: 1.5;

}

.classificacao{

}

.clearbtn{
	display:none;
}

.instrucoes2{
	color: orange;
	position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 50%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(66,134,244,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.classxd{
	text-align: center;
}

.mp_menu{
	text-align:center;
}

.turnoonline{
	text-align:center;
	color:orange;
	font-size:2.5vw;

}

tr:hover {background-color: grey;}

.classxd{
    margin-left:auto; 
    margin-right:auto;
  
	border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

